html, body{
    margin: 0;
    padding: 0;
    user-select: none;
}

body{
    background-color: black;
}

#titleContainer{
    text-align: center;
}

#generalContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#instructionsContainer, #lastContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#scoreContainer{
    display: flex;
}

#hundredsPlace, #tensPlace, #onesPlace{
    width: 150px;
    height: 300px;
    color: white;
    font-size: 300px;
    text-align: center;
}

#hundredsPlace{
    background-color: #3a3a3a;
}

#tensPlace{
    background-color: #838383;
}

#onesPlace{
    background-color: #aeaeae;
}

#description{
    border: 3px solid white;
    border-radius: 15px;
    
}

#cardContainer{
    display: grid;
    text-align: center;
    grid-template-columns: 170px 170px 170px 170px;
    grid-template-rows: 212.5px 212.5px 212.5px 212.5px;
}

.frontCards, .backCards{
    width: 140px;
}

#title{
    width: 25%;
}

p, label{
    font-family: "Poppins";
    color: white;
}

p{
    font-size: 125%;
}

label{
    font-size: 200%;
}

img{
    pointer-events: none;
}

.cards{
    cursor: pointer;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.8s;
}

.cards.flip{
    transform: rotateY(180deg);
}

.cardsInner{
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.front, .back{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
}

.front{
    transform: rotateY(0deg);
}

.back{
    transform: rotateY(180deg);
}

button{
    color: #356abc;
    font-weight: bold;
    background: #ffcc03;
    border: 1px solid #356abc;
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    box-shadow: rgba(53, 106, 188, .1) 0 2px 4px 0;
    box-sizing: border-box;
    cursor: pointer;
    outline: none;
    text-align: center;
    margin-top: 2%;
}

button:hover{
    box-shadow: rgba(53, 106, 188, .15) 0 3px 9px 0;
    transform: translateY(-2px) scale(1.01);
}